---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import Github from "../icons/Github.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Laptop from "../icons/Laptop.astro";
import SocialPill from "../components/SocialPill.astro";
import Section from "../components/Section.astro";
import Experience from "../components/Experience.astro";
import Cmd from "../icons/Cmd.astro";
import Projects from "../components/Projects.astro";
import Bio from "../components/Bio.astro";
---

<Layout
	title="Portfolio Fabian Valverde - Desarrollador y Programador Junior"
	description="A junior programmer with over a year of experience. Focused on backend development, exploring opportunities in the web3 industry passionate about open source."
>
	<main class="px-4">
		<Section class="py-16 md:py-36">
			<Bio />
		</Section>
	</main>
	<div class="space-y-24">
		<Section id="experience">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Laptop class="size-7" />
				Experience
			</h2>
			<Experience />
		</Section>
		<Section id="projects">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Cmd class="size-7" />
				Projects
			</h2>
			<Projects />
		</Section>
	</div>
</Layout>
