<span class="bg-gray-100 text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-full me-2 dark:bg-gray-700 dark:text-gray-400 border border-gray-500">
    <svg class="w-2.5 h-2.5 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
        <path stroke="#007BFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M1 5.917 5.724 10.5 15 1.5"/>
    </svg>      
    <slot/>
</span>
