<div class="flex items-center ">
    <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
      <span
        class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#3EC79A_0%,#1A3F3B_50%,#3EC79A_100%)]"
      ></span>
      <div class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-white bg-black rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap">
        <svg
        class="w-2.5 h-2.5 mr-1"
        aria-hidden="true"
        fill="none"
        viewBox="0 0 16 12"
    >
        <path
            stroke="#007BFF"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="4"
            d="M1 5.917 5.724 10.5 15 1.5"></path>
    </svg>
        <slot />
      </div>
    </span>
    </div>
